extends components/layout.pug

block content
    div#home-wrapper
        div.container-fluid
            .row.start-md.center-xs
                .col-md-6.col-sm-5.col-xs-12
                    h1="Escolha seu plano"
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    strong.fake-bold
                .col-md-6.col-sm-7.col-xs-12
                    .row.end-md.center-xs
                        .col-lg-10.col-xs-12
                            .product-wrap
                                .card-content.product-blue(onclick="hirePlan({desc:'" + full.description + "', price: " + full.price + ", size:'full'})")
                                    .product-title= full.description
                                    .product-list-desc
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                    .product-price= "R$" + full.price.toFixed(2).toString().replace(".",",")
                                .card-content.product-pruple(onclick="hirePlan({desc:'" + share.description + "', price: " + share.price + ", size:'share'})")
                                    .product-title= share.description
                                    .product-list-desc
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                    .product-price= "R$" + share.price.toFixed(2).toString().replace(".",",")
                                .card-content.product-red(onclick="hirePlan({desc:'" + light.description + "', price: " + light.price + ", size:'light'})")
                                    .product-title= light.description
                                    .product-list-desc
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                    .product-price= "R$" + light.price.toFixed(2).toString().replace(".",",")
        form(method="POST" action="/checkout" id="hirePlan")
            input(type="hidden" value="" name="description" id="description")
            input(type="hidden" value="" name="price" id="price")
            input(type="hidden" value="" name="size_checkout" id="sizeCheckout")