extends components/layout.pug

block content
    div#home-wrapper
        div.container-fluid
            .row.start-md.center-xs
                .col-md-6.col-sm-5.col-xs-12
                    h1="Escolha seu plano"
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    p.fake-paragraph
                    strong.fake-bold
                .col-md-6.col-sm-7.col-xs-12
                    .row.end-md.center-xs
                        .col-lg-10.col-xs-12
                            .product-wrap
                                .card-content.product-blue
                                    .product-title="Plano Mensal"
                                    .product-list-desc
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                    .product-price="R$19,90"
                                .card-content.product-pruple
                                    .product-title="Plano Trimestral"
                                    .product-list-desc
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                    .product-price="R$49,90"
                                .card-content.product-red
                                    .product-title="Plano Anual"
                                    .product-list-desc
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                        .product-item-desc
                                            .bullet
                                            .fake-text
                                    .product-price="R$159,90"